body {
    padding-top: 1rem;
}

.navbar-body {
    padding-top: 4rem;
}

.figure-img {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    /*top: 0;*/
    /*bottom: 0;*/
    left: 0;
    right: 0;
    margin: auto;
}

.carousel-inner > .carousel-item > img {
    margin: 0 auto;
}

.carousel-control-next {
    filter: invert(100%);
}

.carousel-control-prev {
    filter: invert(100%);
}

.main-splitter {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.video-player {
    margin-left: auto;
    margin-right: auto;
    display: block
}

.subtitles {
    margin: auto;
    width: 50%;
    border: 3px solid black;
    padding: 10px;
    text-align: center;
}

video::cue {
    opacity: 0;
    background-color: transparent;
    font-size: 0px !important;
}

/*video::-webkit-media-text-track-display {*/
/*    !*Style the text itself*!*/
/*    color: transparent;*/
/*}*/
